* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightskyblue;
    position: relative;
    font-family: 'Poppins', sans-serif;

}

.calculator {
    width: 400px;
    height: 600px;
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 15px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.calculator__screen {
    width: 100%;
    height: 120px;
    background: rgb(39, 39, 39);
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    border-radius: 15px;
    overflow: hidden;
}

.calculator__grid--sym {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(1, 90px);
    justify-content: center;
}
.calculator__grid {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(4, 90px);
    justify-content: center;
}
.calculator__grid--egal {
    display: grid;
    grid-row: span 4;
}
.btn {
    margin: 10px;
    background-color: white;
    border: 2px solid lightgray;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 4px;
}
.btn:hover {
    background-color: rgb(230, 230, 230);
}
.btn--highlighted {
    background-color: white;
    border: 2px solid lightgray;
    color: rgb(36, 167, 248);
}
.btn--highlighted:hover {
    background-color: rgba(36, 167, 248, 0.603);
    border: 2px solid rgba(36, 167, 248, 0.603);
    color: white;
}
.btn--suppr {
    background-color: rgb(255, 121, 121);
    border: 2px solid rgb(255, 121, 121);
    color: white;
}
.btn--suppr:hover {
    background-color: rgba(255, 121, 121, 0.561);
}
.btn--egal {
    background-color: rgb(36, 167, 248);
    border: 2px solid rgb(36, 167, 248);
    color: white;
}
.btn--egal:hover {
    background-color: rgba(36, 167, 248, 0.603);
}

@media screen and (max-width: 550px) {
    html {
        height: -webkit-fill-available;
    }
    body {
        height: 100vw;
        min-height: -webkit-fill-available;
    }
}